.ms-pagination {
  .pagination {
    box-shadow: none !important;
    min-height: 30px !important;

    .item {
      font-size: 13px !important;
      line-height: 13px !important;
      padding: 5px 12px 4px !important;
      min-width: 0 !important;

    }
  }
}