.config__list {
  margin-top: 20px;
}

.config__item {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
  &:hover {
    .config__icon {
      opacity: 1;
    }
  }
  .config__icon {
    position: absolute;
    right: -10px;
    top: -8px;
    font-size: 16px;
    opacity: 0;
  }
}

.config__icon {
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}